<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetnaEstrada</title>
    <link rel="icon" href="../../static/img/pata.png">
    <link rel="stylesheet" href="../../static/CSS/estilo.css">
</head>

<body>

<header>

    <h1>PetnaEstrada</h1>

    <p>Feedback dos usuários</p>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/admin/">Administração</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'index' %}">
            home
        </a>

</header>

<main>

<section class="cadastro-animal">

<h2>Enviar Feedback</h2>

{% if messages %}

    {% for message in messages %}
        <p style="color:green">{{ message }}</p>
    {% endfor %}

{% endif %}

<form method="POST">

    {% csrf_token %}

    <div class="campo">

        <label>Nota</label>

        <select name="estrelas">

            <option value="5">★★★★★</option>
            <option value="4">★★★★☆</option>
            <option value="3">★★★☆☆</option>
            <option value="2">★★☆☆☆</option>
            <option value="1">★☆☆☆☆</option>

        </select>

    </div>

    <div class="campo">

        <label>Comentário</label>

        <textarea
            name="comentario"
            rows="5"
            required>
        </textarea>

    </div>

    <button type="submit">

        Enviar Feedback

    </button>

</form>

</section>

<section class="animais">

<h2>Feedbacks enviados</h2>

{% for feedback in feedbacks %}

<div class="animal-card">

    <div class="animal-info">

        <h3>{{ feedback.usuario.nome }}</h3>

        <p>
            <strong>Nota:</strong>
            {{ feedback.estrelas }} ★
        </p>

        <p>
            {{ feedback.comentario }}
        </p>

    </div>

</div>

{% empty %}

<p>Nenhum feedback enviado.</p>

{% endfor %}

</section>

</main>

<footer>

    <small>Copyright © IFSULDEMINAS</small>

</footer>

</body>

</html>